noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>
set relativenumber
set number
set scrolloff=5
let mapleader =" "
let @c = '_i//<Esc>j_'


noremap <leader>= vi{=

# cursor will remain on same line after visual yank
vmap y ygv<Esc>

noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz
noremap n nzz
noremap N Nzz

set visualbell

noremap L $
noremap H _
nmap K <Action>(MethodUp)
nmap J <Action>(MethodDown)

nnoremap <Leader>h :noh<Enter>

nmap <Leader>s <Action>(Switcher)
nmap <Leader>r <Action>(RenameElement)
nmap <Leader>p viwp
vnoremap p "_dP
